.block-fixed {
    max-height: 500px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #27293d;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffcc;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #27293d;
    /* creates padding around scroll thumb */
}